.Main {
  max-width: 57rem;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0 1rem;

  &__container {
    &--flex-true {
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;
      margin: 0 -1rem;
      width: calc(100% + 2rem);

      & > * {
        padding: 0 1rem;
        width: 100%;
      }

      @media (min-width: 576px) {
        flex-wrap: nowrap;

        & > * {
          width: 50%;
          flex-shrink: 0;
        }
      }
    }
  }
}
