.Header {
  max-width: 57rem;
  width: 100%;
  margin: 0 auto -0.5em;
  padding: 0 1rem;

  &__title {
    color: inherit;
    font-size: 2rem;
    font-weight: bold;

    &,
    &:hover {
      text-decoration: none;
    }
  }
}
